[Desktop Entry]
Encoding=UTF-8
Name=CBSL
Comment=CBSL P2P Cryptocurrency
Comment[fr]=CBSL, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CBSL, eşten eşe kriptografik sanal para birimi
Exec=CBSL-qt %u
Terminal=false
Type=Application
Icon=CBSL128
MimeType=x-scheme-handler/CBSL;
Categories=Office;Finance;
